*{
    margin: 0px;
    padding: 0px;
}
.test{
    color: blue;
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/sad.png"),auto;
}

.box{
    padding: 20px;
    background-color: red;
    width: 110px;
}
.box2{
    background-color: green;
}
.box3{
    background-color: blue;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}